
.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}



.container h2, p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}